extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block text-center big-top-space" )
        h1 Bienvenidos a Foto App
        a(href="/login" class="right-space") iniciar sesion
        a(href="/signup") Registro